[2017-03-11 18:39] arbox opened #4 "Import Errors on Ubuntu 16.10"
Dear @mrkn ,

I'm trying to run examples from this repo, but I cannot go further the first require statement:

    irb(main):001:0> require 'pycall/import'
    LoadError: no library specified
	from /home/arbox/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/ffi-1.9.18/lib/ffi/library.rb:176:in `ffi_libraries'
	from /home/arbox/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/ffi-1.9.18/lib/ffi/librar

[2017-03-12 03:53] mrkn commented on #4
@arbox How do you install python?

Pycall uses `PYTHON` environment variable to find Python's executable such as `/usr/bin/python3`.
This environment variable is referred to execute [investigator.py](https://github.com/mrkn/pycall/blob/master/lib/pycall/python/investigator.py) script, which investigates the installation directory and the path of shared library of the specified Python environment.

[2017-03-12 09:06] arbox commented on #4
Hi, @mrkn, thank you for a reply!

Python is installed on my machine pretty standard, from the Ubuntu repositories.

I looked up your Travis configuration, so at least `python python-dev python-all` as well `python3 python3-dev python3-all` are installed. It's a fresh Ubuntu 16.10 installation.

I could run `investigator.py` manually with the following output:

    executable: /usr/bin/python

[2017-03-14 14:18] tarui opened #6 ""TypeError: Can't convert 'NoneType' object to str implicitly" at investigator.py"
on my envilroment, get_config_vars() return only {'INCLUDEPY': 'C:\\Anaconda3\\include', 'EXT_SUFFIX': '.cp35-win_amd64.pyd', 'SO': '.cp35-win_amd64.pyd', 'VERSION': '35', 'srcdir': 'C:\\Anaconda3', 'BINDIR': 'C:\\Anaconda3', 'exec_prefix': 'C:\\Anaconda3', 'BINLIBDEST': 'C:\\Anaconda3\\Lib', 'prefix': 'C:\\Anaconda3', 'LIBDEST': 'C:\\Anaconda3\\Lib', 'EXE': '.exe'}

then,  get_config_var("LIB") b

[2017-03-17 13:13] #6 closed

[2017-03-21 02:15] mrkn commented on #4
I could reproduce this issue with ubuntu 16.10 on VMware.
And I found the reason of this issue.  It is due to multiarch support of Ubuntu (and Debian).

While Python said that the libdir is `/usr/lib`, but ubuntu's python package put libpython in `/usr/lib/x86_64-linux-gnu`.

Probably Python does not know libpython is located in `/usr/lib/x86_64-linux-gnu`.
If so, I cannot resolve the path of libp

[2017-03-21 03:03] mrkn commented on #4
@arbox Now you can specify libpython's full path in LIBPYTHON environment variable.
On Ubuntu 16.10, `LIBPYTHON=/usr/lib/x86_64-linux-gnu/libpython2.7.so.1` for Python 2.7 or `LIBPYTHON=/usr/lib/x86_64-linux-gnu/libpython3.5m.so.1` for Python 3.5 can be used.
Try again.

[2017-03-21 03:03] #4 closed

[2017-03-21 03:07] mrkn opened #8 "Support multiarch in Debian and Ubuntu by a sophisticated way"
Now we can use `LIBPYTHON` environment variable to specify libpython's location directly.
But I want pycall to resolve libpython's location for Debian and Ubuntu.
I need to know how to detect the location of multiarch libdir, such as `/usr/lib/x86_64-linux-gnu` for amd64 architecture.

[2017-03-21 09:20] arbox commented on #4
@mrkn thank you! Cool support here! And very demanded library for Ruby :)

[2017-03-23 09:06] cafedomancer opened #9 "Add `wrap_module` to wrap a Python module"
If we can use `wrap_module` like `PyCall::PyObjectWrapper.wrap_class` to wrap a Python module, it'll be handier and easier to implement the wrapper libraries for Python libraries.

[2017-03-27 02:36] cafedomancer opened #10 "Failed to wrap a class if the target class seems to have the method named "initialize""
I am creating the wrapper for [gensim](https://radimrehurek.com/gensim/index.html), and I have found some cases where the `wrap_class` fails to wrap a class. The example code is shown below.

[code]

It goes like the following outputs.

[code]

When I read the documentation of gensim, I found that the Python class `gensim.models.tfidfmodel.TfidfModel` has the method named `initialize` (https://rad

[2017-03-27 09:22] mrkn commented on #10
@cafedomancer Good catch.  Thank you for your report.

[2017-03-28 06:31] bongole commented on #8
Debian and Ubuntu version python has "MULTIARCH" config variable.
https://wiki.debian.org/Python/MultiArch

[2017-03-29 00:18] mrkn commented on #8
@bongole Thank you so much.  I think I can fix this issue by using `MULTIARCH` config variable :+1:

[2017-03-29 03:49] #8 closed

[2017-03-29 14:40] mrkn commented on #4
@arbox I've released the new version of pycall.  The latest pycall supports multiarch system in Debian and Ubuntu.  Check it.

[2017-03-30 09:25] m-suketa opened #12 "keras from pycall"
I tried to use keras from pycall, but I encountered the error.

[code]

The error is the following.
[code]

How can I fix this error?
Is this the issue of pycall ?
or, Is there any workaround of the error?

The Ruby version is 2.4.1p111
The Python version is 3.6.0 :: Anaconda 4.3.1
The Keras version is 2.0.2
The tensorflow version is 1.0.1

[2017-04-02 08:12] m-suketa commented on #12
I'm not sure, but this issue because of not calling `PySys_SetArgvEx` .

There is no error by calling `PySys_SetArgvEx` like as follows.
(Yes, it is not correct..., but I don't know how to set arguments of PySys_SetArgvEx correctly.)

[code]

Are you planning to provide `PySys_SetArgvEx` functionality in pycall?

[2017-04-03 08:00] #12 closed

[2017-04-03 08:02] mrkn commented on #12
@m-suketa thank you for your report.
Please use the version >= 0.1.0.alpha.20170403.

[2017-05-11 07:11] mrkn opened #15 "Use fiddle instead of ffi"

[2017-05-18 21:45] mrkn opened #16 "wrap_class doesn't work for pandas.DataFrame"
[code]

This code doesn't work properly.

[code]

[2017-06-21 22:33] mrkn opened #18 "Write CHANGES.md"

[2017-06-21 22:40] mrkn opened #19 "New python class wrapping system"
Introduce a new method `PyCall.wrap_class(pyclass)`.  The argument `pyclass` is an instance of PyTypeObjectStruct, that refers a Python class object.
This makes a Ruby anonymous class that is a wrapper for a Python class that is referred by `pyclass`.

[2017-06-22 15:06] arbox opened #20 "Other Python wrappers"
Dear @mrkn ,

while I was looking for Ruby-Python bindings I found a less active older project: https://github.com/halostatue/rubypython

Apparently this has been updated today.

There were two other attempts to work with Python:

- https://github.com/steeve/rupy
- https://github.com/whymirror/unholy

Did you have any contact with the maintainers on these projects?

[2017-06-23 15:22] mrkn commented on #20
Thank you for reporting.

I'd found [halostatue/rubypython](https://github.com/halostatue/rubypython) before I started to write this pycall.  And then I thought that it is good to ignore rubypython due to the following reasons.

- It was inactive for a long time at that time
- I need to support Python 3
- I think Its APIs don't match for the goal of my approach
- I want to follow [JuliaPy/PyCall.j

[2017-06-23 15:30] arbox commented on #20
Hi @mrkn ,
thank you for your reply. It's definitely up to you if you want to contact/work with people from other related projects. My only concern was if the Ruby non-web community is tiny why not to consolidate efforts. I would at least inform those people and inform them about your work. Probably they would contribute and use PyCall. And real-world use cases are extremely important.

I wonder i

[2017-06-26 01:31] mrkn commented on #20
OK.  It's not problem for me.

I agreed with you about that real-world use cases are extremely important, and of course any contributions are welcome.
But it's an experimental development phase of PyCall, so it's important for me for several months that I can do anything by trial and errors.

The reason why I don't take a way of native extension for PyCall is that ffi allows us to select which lib

[2017-06-26 15:53] arbox commented on #20
Thank you for clarifications! I'll try to support this project as far as I can.

[2017-06-26 15:53] #20 closed

[2017-06-28 17:01] chenzww opened #21 "pycall can't use in rails class"
I want to use pycall in my rails project. However, it doesn't work when import python module.

[code]

[2017-06-29 08:41] akinrt commented on #21
@chenzww you can define singleton method `math` on that Test class like this,
https://github.com/mrkn/pycall/blob/d591a2a26319e5a34e38dd35d13a8410c9c585b2/lib/pycall/import.rb#L16

[code]

[2017-07-07 06:21] mrkn commented on #21
Use extend instead of include in a class or module context:

[code]

[2017-07-07 06:23] mrkn opened #22 "Provide a C function to generate PyObjectStruct instance inside of an extension library"

[2017-07-08 12:47] arbox opened #23 "RubyDataScience"
Dear @mrkn  ,

we've recently added `pycall`  to our upcoming RubyDataScience list: https://github.com/arbox/data-science-with-ruby

In order to connect all Ruby & Data Science related projects we introduced the `rubydatascience` topic on GitHub.

Please consider adding this topic to your repository as well so that the Ruby community can discover this project faster :smiley: The `rubyml` topic cou

[2017-07-10 02:01] mrkn opened #24 "PIL.Image couldn't be imported"
[code]

[2017-07-11 01:24] mrkn opened #25 "Support `pyfrom '.."

[2017-07-11 04:55] #24 closed

[2017-09-06 07:41] mrkn commented on #9
Now (HEAD of the master branch) always generate a Module object that wraps a Python module object.

[2017-09-06 07:41] #9 closed

[2017-09-06 07:41] #15 closed

[2017-09-06 07:41] mrkn commented on #15
Done in the master branch.

[2017-09-06 07:44] mrkn commented on #16
[code]

[2017-09-06 07:44] #16 closed

[2017-09-06 07:45] #19 closed

[2017-09-06 07:45] #18 closed

[2017-09-06 07:52] mrkn commented on #10
This issue has been resolved in the current master branch.

[code]

[2017-09-06 07:52] #10 closed

[2017-09-06 07:53] #21 closed

[2017-09-08 04:56] mrkn opened #28 "Class wrapper does not inherit PyTypeObjectWrapper"
[code]

[2017-09-08 05:53] mrkn opened #29 "PyTypeObject should define its own === method."
T/O

[2017-09-08 05:53] mrkn commented on #28
The true is #29.

[2017-09-08 05:53] #28 closed

[2017-09-08 06:00] #29 closed

[2017-09-14 03:10] mrkn opened #31 "Missing wrappers for iterators and generators"
I want to write the following Python code

[code]

like the following in Ruby with PyCall:

[code]

Now PyCall defines `each` methods in PyCall::List and PyCall::Dict in specific ways.
It needs to be rewritten in more generic way.

[2017-09-14 04:31] mrkn commented on #31
One candidate is `PyCall.enum(obj)` to get an Enumerator object.

This is a concept implementation:

[code]

[2017-09-14 06:14] ngoto opened #32 "string tail is unexpectedly destroyed"
When running https://gist.github.com/ngoto/50fd9216686d9f98f3adb25c7b325122
(with data file downloaded from http://togows.org/entry/ncbi-nucleotide/J00231.fasta)
in most cases, the tail of the `seq` string is unexpectedly destroyed by binary characters.
The length of the `seq` string is the same as expected (1089), but the content is destroyed.

For example,
<pre>
$ ruby try01-seqio.rb
id: <String

[2017-09-14 06:42] mrkn commented on #32
@ngoto Please tell me your platform, Ruby version, and Python version.

[2017-09-14 06:48] ngoto commented on #32
I'm running this on:
OS: Debian GNU/Linux 9.1
on VMware Workstation 12 (on Windows 8.1)
Architecture: x86_64
Python: 3.6.1 (installed via miniconda)
Ruby: 2.4.1p111 (installed via rbenv + ruby-build)

<pre>
$ python --version
Python 3.6.1 :: Continuum Analytics, Inc.
$ conda list python
# packages in environment at /home/ngoto/miniconda3:
#
biopython                 1.70                     py36_1

[2017-09-14 15:48] #32 closed

[2017-09-14 16:19] mrkn commented on #32
@ngoto Would you please confirm this issue is fixed at the commit 4b1307b?

[2017-09-15 12:13] ngoto commented on #32
I got correct string by using d414efb3de18e7065ed3f14fe651098b94992c5a
thank you!

[2017-09-18 20:00] mrkn opened #36 "Unable to use with anaconda"
[code]

[2017-09-19 06:28] kirikak2 opened #38 "core dumped in PyCall 1.0.2"
I met core dumped in irb using PyCall 1.0.2

[code]
My environment is...

Python installed using pyenv(anaconda3-4.4.0).
[code]
Ruby install using rbenv
[code]

[2017-09-21 11:37] mrkn commented on #38
It is same as #36.

[2017-09-21 11:37] #38 closed

[2017-09-22 02:54] mrkn opened #39 "There is a rarely failed example on Windows"
https://ci.appveyor.com/project/mrkn/pycall/build/1.0.108/job/ylhkmtyb8ya1uqw7

The failed example is:
[code]

The platform is `i386-mingw32`:
[code]

The randomized seed is:
[code]

Python version:
[code]

[2017-09-22 04:44] mrkn commented on #36
Fixed by #37

[2017-09-22 04:44] #36 closed

[2017-09-22 06:46] mrkn opened #40 "Support Ruby to Python type mapping"

[2017-09-22 06:48] mrkn opened #41 "Type mapping for Range in Ruby"
Range objects in Ruby should be mapped from/to range in Python 3 or xrange in Python 2.

[2017-09-22 06:53] mrkn commented on #23
Done.

[2017-09-22 06:53] #23 closed

[2017-10-14 07:56] baarkerlounger opened #43 "Can't load gem on Pandas < 0.20.0"
https://github.com/mrkn/pandas.rb/blob/master/lib/pandas.rb#L27:

`
 DatetimeIndex = self.core.indexes.datetimes.DatetimeIndex
`

Needs to be:

`
  DatetimeIndex = self.tseries.index.DatetimeIndex
`

If installed Pandas is < `0.20.0`.

[2017-10-14 08:07] #43 closed

[2017-11-08 21:05] chenzww opened #44 "period is still necessary"
[code]

[2017-11-17 09:36] mrkn commented on #44
@chenzww You can write `df = pandas.DataFrame.new([*1..5])`.

[2017-11-17 09:36] #44 closed

[2017-11-17 09:38] mrkn commented on #44
@chenzww If you want to write `pandas.DataFrame([*1..5])` in Ruby, please report a issue for mrkn/pandas.rb because it is pandas.rb's responsibility.

[2017-11-17 09:41] mrkn opened #45 "GVL should be released when calling Python APIs."
And GVL should be acquired again when touching Ruby side from  Python side.

[2017-12-01 08:19] #45 closed

[2017-12-09 19:54] peterzhu2118 opened #47 "Calling Python modules"
How can I import a Python module that I wrote myself? If I have `somemodule.py`, doing `pyimport 'somemodule'` does not work as it throws a `PyCall::PyError: <type 'exceptions.ImportError'>: No module named somemodule` error.

[2017-12-11 15:16] tayeb83 opened #48 "Symbol not found _main (PyCall::PyError)"
I use Pycall to call sklearn:
require 'pycall/import'
include PyCall::Import

pyfrom :sklearn, import: :datasets

I got this error:

/usr/local/lib/ruby/gems/2.4.0/gems/pycall-1.0.3/lib/pycall/import.rb:46:in `import_module’: : dlopen(/Users/tay/anaconda3/lib/python3.6/site-packages/scipy/sparse/linalg/isolve/_iterative.cpython-36m-darwin.so, 2): Symbol not found: _main (PyCall::PyError)

thnks

[2017-12-16 18:29] soultoru opened #49 "Segmentation fault with `hpricot`"
[code]

[code]

[code]

[code]

[2018-01-03 05:20] mrkn commented on #48
@tayeb83 I couldn't reproduce this issue.
I used Ruby 2.5.0, Python 3.6.1 installed by pyenv, pycall 1.0.3, and scikit-learn 0.19.1.

[2018-01-03 05:23] mrkn commented on #47
@peterzhu2118 Add the directory that contains your `somemodule.py` into `PyCall.sys.path` like:

[code]

[2018-01-03 05:40] mrkn commented on #49
I've confirmed that Python's math module cannot be imported after hpricot.

With hpricot:
[code]

With hpricot:
[code]

[2018-01-08 13:17] avigard opened #52 "PyCall::PythonNotFound with usage example"
Hello guys,

I have _Ruby 2.4.3p205_ and _Python 3.6.2_ on my _Windows 8.1_ machine installed.
I tried to run the usage example which compares Python's math.sin with Ruby's Math.sin.

I get a _PyCall::PythonNotFound_ exception on the line where it says _pyimport :math_.

Can somebody may help me with this?

[2018-01-13 00:11] mrkn commented on #52
Show your code as is.

And, to investigate the reason why pycall cannot find python, show the value of the environment variable PATH, and try the same code with the environment variable `PYCALL_DEBUG_FIND_LIBPYTHON=1`.

[2018-01-13 05:35] golirev commented on #52
I got the same error without adding PATH setting for Python environment.

ex.
set PATH=C:\Anaconda3;C:\Anaconda3\Library\mingw-w64\bin;C:\Anaconda3\Library\usr\bin;C:\Anaconda3\Library\bin;C:\Anaconda3\Scripts;%PATH%

If you use RubyInstaller2, you also need to set RUBY_DLL_PATH environment variable.
Without RUBY_DLL_PATH setting,  I got 'DLL load failed' ... (PyCall::PyError) when I use scikit-le

[2018-01-21 18:51] umlx5h opened #53 "newspaper library is not working"
I want to use newspaper library for my rails project.
So I tried to use this gem but I got an error.

This is my code

[code]

I got a following error
[code]

Other libraries like math, pandas are working.
I have no idea if this is caused due to this gem, But native python code can be working.

OS: OSX High Sierra
Python: 3.6.4
Ruby: ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16
echo

[2018-02-01 10:38] frenesim opened #55 "Can't call a method on a imported module"
My environment is
`$ uname -a`
Linux b22 4.13.0-25-generic #29-Ubuntu SMP Mon Jan 8 21:14:41 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

`$ lsb_release -a`
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 17.10
Release:        17.10
Codename:       artful

Python 3.6.3
ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-linux]
pycall (1.0.3)
numpy (1.14.0)
scikit-learn (0.19

[2018-02-01 15:28] mephistobooks commented on #55
Hi, I am not the author of this, but `svm.SVC()` is the cause of this PyError. This not a instance object but a class (sv.SVC().class => Class).

The solution is simply write `clf=svm.SVC.new()` or `clf=svm.SVC.()` (dot after SVC), I guess you can get what you want.

[2018-02-01 16:32] mephistobooks commented on #53
Hi. change your code `newspaper.Article(url)` to `newspaper.Article.new(url)` or `newspaper.Article.(url)` (dot after Article).

[2018-02-02 00:33] mrkn commented on #55
@mephistobooks Thank you for your assistance.  You are right.  And I recommend to use `new` instead of `.()` because it is Ruby's way of instantiation.

@frenesim Rewrite your code by using `SVC.new`.

[2018-02-02 00:33] #55 closed

[2018-02-02 00:34] mrkn commented on #53
@umlx5h Rewrite `newspaper.Article(url)` to `newspaper.Article.new(url)` as @mephistobooks said.

@mephistobooks Thank you for your assistance.

[2018-02-02 00:34] #53 closed

[2018-02-02 00:36] mrkn commented on #52
@avigard Please re-open if you want to continue this issue.

[2018-02-02 00:36] #52 closed

[2018-02-02 09:15] frenesim commented on #55
@mephistobooks Thanks for your help. I was stuck in trying pyhton syntax which it's not the way.
@mrkn Great work with this gem.

[2018-02-06 16:44] mikisvaz opened #56 ""no implicit conversion of Object into String (TypeError)" on pyobject_wrapper.rb:43:in"
Hi,

I've been trying to use tensorflow through pycall.rb and I found the following error:

        from /home/mvazque2/.rvm/gems/ruby-2.4.1/gems/pycall-1.0.3/lib/pycall/pyobject_wrapper.rb:43:in `method_missing'
        from pycal.tf.rb:21:in `<main>'

The code is the following:

[code]
I'm unable to track this error further, I cannot see where is this implicit conversion attempted.

[2018-02-07 04:01] mrkn commented on #56
@mikisvaz rewrite the syntax of keyword argument at the last line in Ruby-style:

[code]

[2018-02-07 09:22] mikisvaz commented on #56
Yes, that worked. Thanks!

[2018-02-07 09:22] #56 closed

[2018-02-20 07:51] tesths opened #57 "PyCall::PythonNotFound (PyCall::PythonNotFound)"
I install python3.6 use
[code]
And I replace the default python version3.5.
I install ruby use
[code]
And when I use pycall, the error is
`finder.rb:37:in `rescue in block in find_libpython': PyCall::PythonNotFound (PyCall::PythonNotFound)`

This error is appear also when I use pyenv to manage python version.
Is there any function to solve it? I see #52  to set **PYCALL_DEBUG_FIND_LIBPYTHON**, but

[2018-02-22 03:29] tesths commented on #57
I think it must export to environment path. So all is done!

[2018-02-22 03:29] #57 closed

[2018-02-25 13:54] #47 closed

[2018-02-25 13:54] #48 closed

[2018-03-05 01:50] kou opened #59 "Refrect subclass in Python"
We need to define new Ruby-level methods to both superclass and subclass for Python classes that they are superclass and subclass relation.

Here is an example.

`A` is a superclass.

`B` is a subclass of `A`.

`/tmp/x.py`:

[code]

I want to define a Ruby method to `A` and `B` by defining only one Ruby method to `A` (superclass). But `A` and `B` in Ruby aren't superclass and subclass relation. So

[2018-03-05 07:56] mrkn opened #60 "Check and update AppVayer setting"
- [ ] Ruby 2.5
- [ ] [Recent failures](https://ci.appveyor.com/project/mrkn/pycall/build/1.0.123)

[2018-03-13 14:58] drselump14 opened #61 "[question] passing iterable object in ruby"
The methods that I want to use requires iterable to be passed as argument.
I've tried to pass a simple Ruby array into it, but it still produces error.

Any help will be appreciated ... Thanks

[2018-03-14 13:42] drselump14 commented on #61
It looks like I have to use Constructor.new when calling python Constructor ... sorry, it's my bad ... close this issue ...

[2018-03-14 13:42] #61 closed

[2018-03-14 14:04] mrkn commented on #61
@drselump14 No problem.  Don't hesitate to ask me if you have new questions :wink:

[2018-03-20 15:26] umlx5h opened #62 "Not working in heroku"
Hi.
Can this gem work in heroku environment?
I use python 3.6, ruby 2.5.0 and rails 5.1.4 version in heroku.

I set PYCALL\_DEBUG\_FIND\_LIBPYTHON=1 variable and got an following error.

[code]

Python can work by using command.

[code]

thanks.

[2018-04-02 03:27] mrkn commented on #62
@umlx5h pycall.rb requires that Python is configured with `--enable-shared`.

But heroku's python seems not configured with `--enable-shared`.
See https://github.com/heroku/heroku-buildpack-python/blob/master/builds/runtimes/python-3.6.4#L13

[2018-04-02 03:30] mrkn opened #64 "Introduce Ruby's Array and Hash wrappers in Python"
Now pycall.rb converts Ruby's Array and Hash to Python's list and dict, respectively.
For reducing conversion costs, we need to introduce wrappers of Array and Hash in Python-side.
These wrapper classes should be subclasses of list and dict, respectively.

[2018-04-04 06:44] mrkn opened #65 "PyCall::List, PyCall::Dict, PyCall::Set, and PyCall::Tuple should respond to empty?"
In pycall 1.0.3, PyCall::List doesn't respond to `empty?` method.

[code]

[2018-04-27 13:55] eltonfonseca opened #66 "How to use PyCall in Rails 5.1?"
Hello, how do I use pycall in rails 5.1?

I have the following controller in Rails:

[code]

When I raise the server with **rails s**, and I trigger the new action it gives the following error:

[code]

[2018-04-29 00:47] mrkn commented on #66
@eltonfonseca Does the following code works correctly?

[code]

BTW, please show the full messages by SEGV.  Don't cut its fragment your own decision.

[2018-04-29 15:07] eltonfonseca commented on #66
Hello @mrkn, I ran and gave the following error:

[code]
but I was able to solve the problem by typing the following code.

[code]

Thank you for your attention and for your help!

[2018-05-03 23:40] mrkn commented on #66
@eltonfonseca That's good!

[2018-05-03 23:40] #66 closed

[2018-05-09 07:19] sp00ck opened #67 "tensorflow"
Is possible to using tensorflow in ruby?

[2018-05-09 12:59] arbox commented on #67
@sp00ck there is a dedicated project for that:
https://github.com/somaticio/tensorflow.rb

[2018-05-09 15:19] mrkn commented on #67
@sp00ck I heared that some people tried to use Python's tensorflow via pycall.rb, and they've succeeded.  As tensorflow is very changed day by day, it is unclear that Python's tensorflow can work on pycall.rb now.  Please check it by yourself.  And if you encounter any troubles, please report it as an issue.

As @arbox mentioned, you can use [tensorflow.rb](https://github.com/somaticio/tensorflow.

[2018-05-31 13:04] AndreaOrru opened #68 "Importing a local module"
Is there a way to import modules from the local directory?

[2018-05-31 13:06] AndreaOrru commented on #68
Answering my own questions and for future reference for others: set your `PYTHONPATH` to the current directory and import normally.

[2018-05-31 13:06] #68 closed

[2018-06-18 01:37] mrkn commented on #68
@AndreaOrru You can use `PyCall.sys.path` to manage module search path in runtime.

[code]

[2018-06-27 07:44] mrkn opened #69 "Segmentation Fault at"
From the commit 556726d, the following SEGV always occurs at spec/pycall/ruby_object_spec.rb:19.

[code]

[2018-06-27 08:22] kou commented on #69
[code]

[2018-06-27 08:42] #69 closed

[2018-06-28 09:11] aakashgupta96 opened #70 "Scikit Learn pipeline's predict_proba method hangs with ruby 2.3.0 but works fine with 2.3.3"
Hello,
I am trying to use this awesome gem but I'm facing one issue.

`@pipeline.predict_proba(df.values)`

I create a scikit learn's pipeline object having 2 transformers with Keras neural network model as last step. 1st transformer is one hot encoder and 2nd is a scalar transformer.

The same code works perfectly with 2.3.3 version of ruby but same fails with 2.3.0. On executing with 2.3.0 versi

[2018-06-29 03:18] mrkn commented on #70
Note that pull-requests are always welcome, though.

[2018-07-23 19:50] phensalves commented on #49
Hi @mrkn any solution? Same problem here.

[2018-08-29 14:27] mightystrong commented on #67
I've been using tensorflow via PyCall but it has some issues. For example, if you simply try running the example on the [tensorflow tutorials page](https://www.tensorflow.org/tutorials/) (below) you first run into a lot of conversion challenges dealing with tuples. You also need to convert other lines such as `tf.keras.layers.Dense(512, activation=tf.nn.relu)` to `tf.keras.layers.Dense(512, activa

[2018-08-29 22:07] mrkn commented on #67
@mightystrong Thank you for using PyCall, and reporting back your feeling of use.

This issue comes from the difference that Ruby is lisp-2 but Python is lisp-1.

Now you can get function object by using `getattr` method defined in LibPython::Helpers module, but I understand this is too much uncomfortable.

I’ve decided to introduce other easy way to get function attributes.

[2018-08-30 00:53] mrkn commented on #67
I'm planning to redefine `PyObjectWrapper#method` method to return a wrapper object of Python's function object so that we can write `tf.keras.layers.Dense(512, activation=tf.nn.method(:relu))`.

On ruby-core, people are discussing [a syntax sugar for method reference](https://bugs.ruby-lang.org/issues/13581), which is maybe introduced in the future Ruby.  I think it's very good that this syntax s

[2018-08-30 00:55] mrkn commented on #67
There is another idea I got from @znz, that is letting `obj.name!` returns a function reference.
It is possible because Pytohn doesn't permit `!` in a method name.

But, I currently don't prefer this idea...

[2018-08-30 13:52] kammerer opened #71 "Force deallocation of Python object"
Is it possible to somehow ensure that Python object was removed from memory? I am trying to use PyCall to use GDAL with Ruby. The only way to ensure that a raster was actually written to disk is to deallocate it.

[2018-08-30 17:03] mightystrong commented on #67
This is an awesome project. Please continue to innovate here as I think it opens a world of opportunity to Ruby developers.

[2018-08-30 17:05] mightystrong commented on #67
@mrkn How would you call `tf.keras.layers.Dense(512, activation: tf.nn.relu)` instead in the current version of PyCall so that it doesn't throw the argument required error?

[2018-08-31 09:03] mrkn commented on #67
@mightystrong I've implemented easy ways to obtain functional attributes in this pull-request https://github.com/mrkn/pycall.rb/pull/72

After merging it, you can write it like `tf.keras.layers.Dense(512, activation: tf.nn[:relu])` because `tf.nn` is a module.
And if you want to get functional attributes from non-module objects, you can use `PyCall.getattr` method.

Does these resolve your issue?

[2018-08-31 12:12] mightystrong commented on #67
I’ll give it a shot. Thanks!

[2018-09-02 21:24] #67 closed, assigned to nobody

[2018-09-02 21:39] mrkn commented on #71
@kammerer I understand the inconvenience that a Python object referred from Ruby isn't freed when leaving the scope.  The reason is Ruby's mark-and-sweep GC.

Currently, you can use `PyCall::PyPtr.decref` class method for this case.  Let `pyobj` is a `PyCall::PyObjectWrapper` object you want to force deallocate, you can do it by:

[code]

After calling `PyCall::PyPtr.decref` for the `PyCall::PyPtr

[2018-09-03 11:43] svilenkov commented on #71
Hey @mrkn

When I run your command in IRB console that uses ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]

I get the following segmentation fault
[code]

[2018-09-08 15:42] mrkn commented on #71
@svilenkov I'll investigate what's going on. Thank you for the report.

[2018-09-12 02:20] rahmatullah5 opened #73 "Can't import CountVectorizer from 'sklearn.feature_extraction.text"
I am having an issue (undefined method module_eval when trying to import CountVectorizer from sklearn.feature_extraction.text.
My Code:
`    pyfrom :'sklearn.feature_extraction.text', import: :CountVectorizer
`

![image](https://user-images.githubusercontent.com/16495060/45398054-e933a800-b66c-11e8-9e8e-70260b38b17b.png)

Am I missing something, or is this library not supported yet on pycall?

[2018-09-16 21:11] sphynx79 opened #74 "Importing the multiarray numpy extension module failed"
When i try to import numpy:

require 'pycall/import'
include PyCall::Import
pyimport 'numpy', as: :np

this give me this error:
DEBUG(find_libpython) find_libpython("C:\\APPL\\Python37\\python.exe")
DEBUG(find_libpython) investigate_python_config("C:\\APPL\\Python37\\python.exe")
DEBUG(find_libpython) libs: ["python37", "python"]
DEBUG(find_libpython) libpaths: ["C:\\APPL\\Python37", "C:\\APPL\\Py

[2018-10-22 22:33] wchinnapper commented on #52
With: PYCALL_DEBUG_FIND_LIBPYTHON=1

Fast Debugger (ruby-debug-ide 0.7.0.beta6, debase 0.2.3.beta2, file filtering is supported) listens on 0.0.0.0:57273
DEBUG(find_libpython) find_libpython(nil)
DEBUG(find_libpython) investigate_python_config("python")
DEBUG(find_libpython) libs: ["python37", "python"]
DEBUG(find_libpython) libpaths: ["C:\\Users\\774782\\AppData\\Local\\Programs\\Python\\Python37

[2018-10-26 14:49] olleolleolle commented on #60
(Right, and there's something about the build status badge in the README, too. It says project not found when I visited its link.)

[2018-10-28 22:43] mrkn commented on #60
@olleolleolle Good catch! Thank you.

[2018-12-03 02:24] archonic opened #75 "Support for pypy?"
I've tried setting the path to a pypy binary, but it's getting the `PyCall::PythonNotFound` error. I've confirmed that I can run python scripts with that binary.

Is pypy support feasible with pycall?

[2018-12-13 01:55] mrkn commented on #75
@archonic I think the answer is No, because pycall.rb depends on CPython's C API for embedding Python interpreter.

Unfortunately, I don't know the internal of PyPy, so the investigation of the feasibility is very hard for me.
If you want to use pycall.rb with PyPy, and if you can perform the investigation, your contribution is always welcome!

[2018-12-13 15:03] mrkn opened #76 "Need to check whether the result of _id2ref is the correct wrapper object"
Here https://github.com/mrkn/pycall.rb/blob/master/lib/pycall/wrapper_object_cache.rb#L30

[2018-12-13 15:41] mrkn opened #77 "Support class and module deletion in wrapper cache system"
In Python, classes and modules can be deleted by `importlib.reload` and `del`.
Using `WeakRef` we can detect such deletion and remove the entry of the deleted classes and modules from cache tables.

[2018-12-13 15:45] mrkn opened #78 "Use ObjectSpace::WeakMap in wrapper cache table"
Deprecation of `object_id` and `_id2ref` features is discussed in [[Feature #15408](https://bugs.ruby-lang.org/issues/15408?next_issue_id=15407&prev_issue_id=15409)].

`ObjectSpace::WeakMap` can be used for implementing wrapper cache, so I think I should move to this to drop the use of `object_id` and `_id2ref`.

[2018-12-14 20:22] archonic commented on #75
Now that I've read a bit more about PyPy, I don't think it would make sense to pursue this. I believe I would need to run a fork of PyPy to mimic the CPython C API, which isn't worth it for me. Thanks for your work on pycall!

[2018-12-14 20:22] #75 closed

[2018-12-20 18:55] xxx opened #79 "How to debug failing calls?"
Hi,

I really like this gem, but am running into an issue where a Python call to spaCy is hanging my entire app. This happens only when I make that via through a Sinatra endpoint, while it's running. The tests (including the integration tests that go through the endpoint), all pass, and making this call in irb/pry console also works correctly. It's literally only when it's called via the endpoint.

[2018-12-21 23:59] xxx commented on #79
I've put up a small app that recreates the hang at https://github.com/xxx/pycall_hang

I'm just looking for pointers on how to debug the hang, since it only happens when I go through the web endpoint.

[2019-01-11 21:41] xxx commented on #79
I've done some additional work on this, trying different Python versions (both 2.x and 3.x), different Spacy versions, replacing Sinatra with Roda, replacing Puma with Webrick and Thin, all to no effect. This may be GVL/ref count related, but not sure. There's a dump of the thread stacks at https://gist.github.com/xxx/ac2ae0b8c97359e5ca2b39a528393a82

The one solution I've found so far that resolv

[2019-01-12 13:14] mrkn commented on #79
@xxx I'm sorry for my response to be late.
Your understanding is correct.  Now pycall doesn't support multithreading.

[2019-02-25 01:34] archonic commented on #49
I'm also getting a segmentation fault. I'm not sure if it has to do with a python math library.

[code]

[ruby_html_tree_differ](https://github.com/archonic/ruby_html_tree_differ) is just a ruby wrapper using pycall to call a [html_tree_diff](https://github.com/christian-oudard/htmltreediff/) function. It consistently works after a reboot, then consistently segfaults on the second run, bringing my

[2019-02-25 01:45] mrkn commented on #49
Oh, I 'm surprised that hpricot is still being used in production.  As three reports came, so I will seriously address this issue.
But, unfortunately, perhaps until I finish RubyKaigi in April, I think I can not spare time for this problem.

[2019-02-25 05:14] archonic opened #81 "PyCall + Sidekiq causing segmentation fault on 2nd run"
I believe this may be different from other segmentation issues so I'm opening a new issue. I made a [ruby wrapper gem](https://github.com/archonic/ruby_html_tree_differ) for a python library called [html-tree-diff](https://github.com/christian-oudard/htmltreediff/). I can perform as many diffs as I want from the console, and I can preform one sidekiq job (per-restart). On the second sidekiq job, I

[2019-03-01 15:33] kammerer commented on #81
Interestingly, I also use pycall in sidekiq context (to call GDAL). I do not observe segfaults and I don't need to restart sidekiq. I do observe other pycall-related errors, but I can rely on sidekiq's retry mechanism to handle them.

[2019-03-01 16:31] archonic commented on #81
@kammerer Good to know! I'll try out 1.0.3 today and see if I see the same thing. If that's the case it should be pretty easy to see what the breaking change was.

[2019-03-01 20:00] archonic commented on #81
Sadly I still get a segmentation fault with 1.0.3, and it turned out the first time I was trying this out, I was running 1.0.0. Seems this particular bug has always been here.

@kammerer Do you think I could see some of your code that wraps pycall in sidekiq if you consistently avoid segfaults? Are you doing any manual garbage collection or performing pycall methods in a block that spawns a new th

[2019-03-02 18:41] kammerer commented on #81
@archonic I am afraid the code is closed-source, I cannot share too much of it. But no, I am not doing anything special like manual garbage collection. I use a helper module to include pycall into PORO classes, but I don't suppose it makes any difference:

[code]

[2019-03-28 14:20] niyando opened #84 "Is there a way to change python version?"
Thanks for this awesome gem. I am having difficulty in importing a module (boto3). It's installed under python version 2.7. When I use the gem in Rails context, it loads python 3.5 and it's not able to find the module. Is there a way we can specify which version of python to use?

[2019-03-29 11:10] niyando commented on #84
I was able to do this by setting an ENV variable in my Rails app.
[code]
Closing this.

[2019-03-29 11:10] #84 closed

[2019-04-08 00:15] mrkn commented on #81
I missed this issue.  I'm sorry for late response.

@archonic Could you show the C backtrace and the code to reproduce this problem?
I want to investigate this after RubyKaigi 2019.

[2019-04-09 12:34] kei-s opened #85 "PyCall gets stuck at 1.2.1"
Below codes get stuck on last line at 1.2.1

[code]

At 1.0.3, it works correctly.

[2019-04-22 11:38] juliaps opened #86 "PyCall::PythonNotFound on Windows"
When I compile a simple code on Windows get this error :

C:/COSMOS/Vendor/Ruby/lib/ruby/gems/2.4.0/gems/pycall-1.2.1/lib/pycall/libpython/finder.rb:34:in `rescue in find_python_config': PyCall::PythonNotFound (PyCall::PythonNotFound)
        from C:/COSMOS/Vendor/Ruby/lib/ruby/gems/2.4.0/gems/pycall-1.2.1/lib/pycall/libpython/finder.rb:27:in `find_python_config'
        from C:/COSMOS/Vendor/Ruby

[2019-04-24 23:54] archonic commented on #49
I'm not using hpricot but I can consistently reproduce the issue. I can make an example app to reproduce if it helps.

[2019-04-25 02:30] mrkn commented on #49
@archonic Could you try with pycall 1.0.3?

[2019-04-25 17:52] archonic commented on #81
I've been splitting my replies between this and https://github.com/mrkn/pycall.rb/issues/49, sorry about that.

I've reproduced the issue on 1.0.0, 1.0.3, but I just checked 1.2.1 and it's not segment faulting 😄🎉. I must not have rebuilt my docker images last time I tried checking 1.2.1. Sorry again! And thanks for the great gem.

[2019-04-25 17:52] #81 closed

[2019-04-26 02:32] mrkn opened #87 "scipy.stats.norm.pdf isn't usable from PyCall"
In ruby:
[code]

In python:
[code]

[2019-04-26 02:42] mrkn commented on #86
Please investigate your environment by the instruction described here: https://github.com/mrkn/pycall.rb#debugging-python-finder

[2019-04-26 12:43] hassandg opened #89 "set ruby method as callback"
hi
I want to use Telethon (telegram client library) as library in ruby.
It works find but when I want to set ruby method to receive updates it does not work

This is the docs link about getting updates in Telethon.
[https://github.com/LonamiWebs/Telethon/blob/master/readthedocs/extra/basic/working-with-updates.rst](url)

how should i do this?

`def handler(update)
    puts update
end

client.add_e

[2019-05-07 03:03] mrkn commented on #89
I'm not altogether familiar with Telethon (I didn't know that as of today), so this answer may be wrong.

You passed a symbol to Python-side.  But the code in Python-side couldn't get the method `handler` from Ruby-side.

As I see in the document you mentioned, the sample code in the document passes a function itself:

[code]

So, you need to pass the method itself, don't you think?

However, the

[2019-05-07 09:42] mrkn commented on #85
@kei-s Please try pycall 1.3.0.dev.

[2019-05-13 01:39] kei-s commented on #85
It works at 1.3.0.dev! 🎉  Thank you!

[2019-05-15 04:25] #85 closed

[2019-05-15 04:29] mrkn opened #92 "bokeh.embed.components get stuck in PyCall.without_gvl block"
`bokeh.embed.components()` function cannot use in PyCall.without_gvl block.

[code]

This issue is the successor of #85.

[2019-06-07 17:33] jeremycochoy opened #93 "Pillow library freeze PyCall ?"
Importing pillow and opening an image make a sinatra server get stuck (seems like the python function never return).
I don't really know what are the details related to this problem, I can only say it happened both on linux and mac, that it seams to be related to usage of the pillow library, and also happen when using fastai (which rely on pillow for opening images). I have tried different impleme

[2019-07-03 16:39] richgong commented on #62
I've forked it to see if this fixes the problem: https://github.com/richgong/heroku-buildpack-python

[2019-07-22 15:56] raphaelfarzankashani commented on #62
Hi @mrkn - how can I access this repo and this link? https://github.com/heroku/heroku-buildpack-python/blob/master/builds/runtimes/python-3.6.4#L13

Any way to contact you directly?

[2019-07-27 15:59] chibash commented on #93
It seems PyCall works with Pillow when it runs with pry (the Ruby interpreter).

[code]

I'm using Ruby 2.4.2p198, Python 3.7.0, pycall 1.0.3 on Mac.

[2019-08-08 20:55] allomov commented on #31
Just one note: I needed to use generator using following function `PyCall.builtins.next(generator)`

[2019-08-08 22:03] allomov commented on #31
Here is my version of the patch:
[code]

[2019-08-10 20:59] gsdean commented on #62
@richgong did you just add this as a buildpack?

We seem to get the same error with this change. Wondering if there is more to it...

[2019-08-19 03:40] mrkn commented on #62
@raphaelfarzankashani I think @richgong's [this commit](https://github.com/richgong/heroku-buildpack-python/commit/43874f65a387c158d548c0f1191ed37f8d7cb068#diff-854c4a6d8b9ca9f84d60e8ed180b5c27R21) fixes this issue.

Why do you want to contact me directly?

[2019-08-19 03:41] mrkn commented on #62
I close this issue because this is not pycall.rb's responsibility.

[2019-08-19 03:41] #62 closed

[2019-08-19 03:44] mrkn commented on #31
@allomov Could you please make a pull-request?

[2019-08-20 03:45] #60 closed

[2019-08-23 03:57] StephenFiser opened #95 "PyCall hangs after one call with Rails + SciKit Learn"
I'm getting the following error the first time that `sklearn` is imported:

[code]
I'm not a python dev, but it seems semaphore has something to do with parallel processing.

When I'm in a rails console, I can run my code without issues (still get the warning). In the web application, it runs once, then it hangs. If I navigate away from the page where it runs, the app is fine. If I come back to th

[2019-09-03 16:33] MarieS1415 commented on #68
Hello,

I have a SyntaxError when calling a local module, I wonder if it is not related to the import I am not doing correctly.

At the top of a model, I have the following code:
`require 'pycall/import'
include PyCall::Import
PyCall.sys.path.append File.dirname(Rails.root.join('lib', 'assets', 'cat', 'cat.py'))
cat = PyCall.import_module('cat') `

The file cat.py I am trying to call is:
`import n

[2019-09-04 13:33] MarieS1415 commented on #68
As explained here: https://stackoverflow.com/questions/12732743/syntax-error-on-the-colon-in-an-if-statement, I think it might be because a bracket is not closed somewhere. @mrkn, would it be possible that it is in the import_module function of PyCall 1.0.3?

[2019-09-04 20:55] gsdean opened #96 "Is PyCall thread safe?"
Seems that when we do anything with PyCall on multiple threads we get Segmentation faults.

Happy to provide more context, just wanted to check if this was designed to be in a multi-threaded environment first

[2019-09-05 13:44] mrkn commented on #96
No, the current pycall isn't thread safe both Ruby and Python sides.

[2019-09-05 13:45] mrkn commented on #95
Please show the code and the conditions for reproducing this error.

[2019-09-05 14:00] mrkn commented on #93
I'm also examine pillow on pry with Ruby 2.6.4, Python 3.7.4, and Pillow 6.1.0, and the problem is not reproduced as @chibash said.

@jeremycochoy Could you give me the small example code to reproduce your problem?

[2019-09-10 02:02] raphaelfarzankashani opened #97 "importing cv2 python module"
Hi @mrkn - using the following code i was able to create a ruby script that successfully ran methods from the Python opencv (cv2) library (https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_tutorials.html):
`pyimport :numpy, as: :np
pyimport :math
pyimport :os
pyimport :cv2
pyimport :matplotlib, as: :mp
pyimport :pytesseract`

For example would call the following methods:
`@im

[2019-09-10 02:04] mrkn commented on #97
@raphaelfarzankashani Please show me the code to reproduce your problem.

[2019-09-10 02:42] raphaelfarzankashani commented on #97
@mrkn all set actually figured it out - thanks a ton man

[2019-09-10 02:42] #97 closed

[2019-09-10 21:49] archonic opened #98 "Type Error: Compared with non class/module"
I'm only seeing this error randomly in production, which is weird because I'm using docker and kubernetes

[code]

It seems somehow that pycall is interfering with this line of Administrate:
https://github.com/thoughtbot/administrate/blob/master/lib/administrate/base_dashboard.rb#L79

Does that make any sense?

[2019-09-18 16:04] rmatsumiya opened #99 "Weird path on anaconda3-2019.07 installed with pyenv"
I'd like to use PyCall with anaconda installed with pyenv.
However, I caught an error whenever importing a module with `pyimport`.
[code]

When I manually initialize PyCall with `PyCall.init`, some modules like `sys` can be imported.
However, some modules like scipy and numpy cannot be imported yet.
[code]

Of course, the native python can load such modules normally.
[code]

As you can see, the pa

[2019-09-19 14:42] mrkn commented on #99
@rmatsumiya I couldn't reproduce the issue on my MacBook Pro.

[code]

[2019-09-19 14:46] mrkn commented on #99
@rmatsumiya I can try again this on my Linux environment in my office next Tuesday.
If you can know additional conditions that are necessary to reproduce this, please tell me.

[2019-09-19 14:57] mrkn commented on #98
I don't know what is thoughtbot/administrate, so I think I cannot help you enough.

But, I guess the following patch may help you:

[code]

Could you please examine this patch?

[2019-09-19 15:04] mrkn commented on #98
Sorry, the previous patch is incorrect.

I think the following is correct, and this issue should be a bug of `PyTypeWrapper#<`.

[code]

[2019-09-20 03:29] rmatsumiya commented on #99
@mrkn
I have found a work-around for this issue.
The `/usr/lib/python3.7/lib-dynload` is created by Ubuntu default installation for python3-gdbm.
https://packages.ubuntu.com/bionic-updates/python3-gdbm
This packages is depended by command-not-found (via python3-commandnotfound)
https://packages.ubuntu.com/bionic/command-not-found

I uninstalled command-not-found and python3-gdbm with apt, then the

[2019-09-20 09:23] rmatsumiya commented on #99
@mrkn
I found this anaconda-detection no longer works.
https://github.com/mrkn/pycall.rb/blob/f7ec9f8e788178030531a5f23bc37c0dd36f8b4c/lib/pycall/python/investigator.py#L5

In my investigation, `sys.version` does not include `Continuum` if using this version of anaconda.
[code]

[2019-09-20 12:23] rmatsumiya commented on #99
@mrkn
I posted a PR to close our problem (#100).

The root cause is the anaconda detection logic as above.
As you may know, Continuum Analytics, Inc. was renamed Anaconda, Inc.
So, the current implementation of conda checking depends on the anaconda version.

Fortunately, I found the logic is not really necessary by replacing path configuration after LIBPYTHON configuration.

In my environment, my

[2019-10-04 00:24] kou opened #101 "unknown symbol "PyInt_AsSsize_t" (Fiddle::DLError)"
[code]

It seems that `PyInt_AsSsize_t` exists only in Python 2: https://docs.python.org/2/c-api/int.html#c.PyInt_AsSsize_t
Python 3 provides `PyLong_AsSsize_t`: https://docs.python.org/3/c-api/long.html#c.PyLong_AsSsize_t

[2019-10-04 01:35] mrkn commented on #101
Thanks for the report.

It seems that the version checking may fail.

I tried to reproduce on my Ubuntu bionic machine, but I couldn't, unfortunately.

[code]

[2019-10-04 01:38] kou commented on #101
What information should I provide?
Or should I create a pull request?

[2019-10-04 01:50] mrkn commented on #101
It is great for me if you can create a pull-request by yourself.

`PyInt_AsSsize_t` is refered at [this line](https://github.com/mrkn/pycall.rb/blob/master/ext/pycall/libpython.c#L139), but it's referred as an optional symbol, so it should not raise an error.

What version of fiddle do you use?

[2019-10-04 01:55] kou commented on #101
I use Fiddle bundled in `ruby 2.7.0dev (2019-09-29T17:56:15Z master 54d49aeb52) [x86_64-linux]`.

[2019-10-04 02:22] mrkn commented on #101
OK.

I suspect that the error occurred in `fiddle_handle_sym` function that is called via `rb_funcall` at [here](https://github.com/mrkn/pycall.rb/blob/master/ext/pycall/libpython.c#L20).  If so, `rb_protect` at [here](https://github.com/mrkn/pycall.rb/blob/master/ext/pycall/libpython.c#L32) fails to protect the error but I have no idea the cause of that.

Could you investigate whether my guess is

[2019-10-04 03:03] kou commented on #101
I've created pull request: #102

[2019-10-04 09:41] #101 closed

[2019-10-04 23:57] rmatsumiya commented on #99
I'm sorry for late response.

This problem seems to be fixed with the latest master branch, thank you for your cooperation.

[2019-10-07 00:58] gsdean opened #103 "No such file or directory -- from multiprocessing.semaphore_tracker import main;main(22) (LoadError)"
I'm getting this warning when I use pycall. Note, I also get random crashes. I'm trying to track down the root cause.

Ruby 2.5.1
Python 3.7.4

[2019-11-23 06:35] mrkn commented on #103
@gsdean How to reproduce the problem you encountered?

[2019-11-23 08:15] takuma080709 opened #104 "Segmentation fault at 0x0000000000000008"
# Enviroment
ruby -v
ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]### ###

# Gemfile
source 'https://rubygems.org'
gem 'pycall'
require 'pandas'

# users.controller.rb
    def show

      require 'pycall'
      require 'pandas'

      pd = Pandas

      df = pd.read_csv(Rails.root + 'lib/csv/sample.csv', engine='python')

    end
[code]

[2019-11-24 12:36] #104 closed

[2019-11-26 02:48] mrkn commented on #104
@takuma080709 Excuse me, why you close this issue?

[2019-12-16 00:24] #98 closed

[2019-12-28 16:48] gsbhasin123 opened #109 "Problems with Termux on Android"
As you can see,

![Screenshot_20191228-163659](https://user-images.githubusercontent.com/48339289/71546806-bccd9900-294e-11ea-8686-8bbbdce924c1.jpg)
This lib does not work under Android. Is anybody willing to provide a solution? Thanks

[2019-12-28 17:01] gsbhasin123 commented on #109
Fixed it by installing Clang!

[2019-12-28 17:01] #109 closed

[2020-01-01 13:36] IpProxyNeon opened #110 "Python async needed for some modules"
Heya I just wanted to bring this to your attention, some libs need python's built in async functions like `await` or `async def`, and this can break alot of code without it, so would it be possible to get the built in python functions like `async` and `await` implemented, or is there a way to import them? (Not `asyncio`)

[2020-01-13 05:45] ziaulrehman40 commented on #96
Does this mean that if I queue say lot of background jobs in ruby, which can run concurrently obviously, those jobs cannot call `pycall`'s functions at the same time?
And i will have to reduce my concurrency for such jobs to 1 for `pycall` to work(which won't be practical for me, but confirming so i can decide my course of action)

[2020-01-13 06:25] mrkn commented on #96
@ziaulrehman40 No, they can't call Python via pycall at the same time.
It is better that you make the single thread from which calls Python.

[2020-01-13 10:56] ziaulrehman40 commented on #96
Well, that's a deal breaker for my use case. Most payloads are web related in today's world and require concurrency. I wonder what makes it fail in those scenarios and is there anyway community can help fix it.

For my use case, i had to use https://github.com/camelot-dev/camelot python library in my ruby code, we have decided now to just use its CLI option and call that CLI with `system` method o

[2020-02-12 11:28] IpProxyNeon commented on #110
Also, I can't use Ruby's Async module since I need to call the function with Async apparently so idk what to do :\

[2020-02-23 19:42] IpProxyNeon commented on #110
Hello?

[2020-02-23 19:43] IpProxyNeon commented on #110
@mrkn

[2020-02-24 01:35] mrkn commented on #110
@IpProxyNeon Could you describe what you want to do in more detail.
It is better to explain with the concrete code examples.
What code do you want to write with PyCall?

[2020-02-24 04:46] IpProxyNeon commented on #110
While there is discordrb for making discord bots, I am trying to use Hata (a very unknown discord bot library for python) it's use async and coroutines don't work as expected, async and await from the async gem in ruby isn't working as I need it, since Python's async and Ruby's async gem are different, so could you add a way to use asyncronous functions with pycall somehow? @mrkn

[2020-02-25 22:34] m-atoms opened #111 "Problems with passing arguments to Python object"
**Revision 0**

I'm able to import pyvisa by following along with the documentation but I'm running into errors when trying to build the object:
[code]
error output:
[code]

#55  explains that this error is caused by using Python's syntax for instantiation instead of Ruby's.

**Revision 1**
[code]
error output:
[code]
Now using the Ruby syntax for instantiation seems to work but the argument for s

[2020-02-26 19:03] m-atoms commented on #111
@mrkn I have some additional information that might be useful. I'm testing the same code shown in rev 1 but now the error message is different. This is almost definitely an issue with my test environment - my ruby script is running inside an open source tool that's sometimes unstable for some reason.

The code (same as rev 1):
[code]
error output:
[code]
This error message is more relevant than th

[2020-02-26 22:53] IpProxyNeon commented on #110
@mrkn sorry to bother you

[2020-02-27 08:26] mrkn commented on #111
If `ResourceManager` is a class, you must write `pyvisa.ResourceManager.new('/lib64/libiovisa.so')`.
Could you try this form?

[2020-02-27 08:36] mrkn commented on #110
I'm not familiar with discordrb and Hata, so please show me what you want to do in a simple code example.

[2020-03-03 23:11] m-atoms commented on #111
@mrkn I have investigated this issue thoroughly and located the cause of these behaviors. Here are the results:

**Syntax Option 1**
[code]
Error Output:
[code]
As previously mentioned in my earlier comments and in issue #55, this syntax doesn't work. The string argument passed to ResourceManager() is discarded and only string arguments passed to new() make it to python.

**Syntax Option 2**
[code

[2020-03-12 09:28] mrkn opened #113 "Stop using Travis CI and AppVeyor"
I want to completely migrate CI jobs onto GitHub Actions.

[2020-04-03 08:58] wynksaiddestroy opened #114 "Conversion of a Python list into a ruby array"
Hey there,

pardon my probably stupid question. Let's assume I have a simple list:

    words = PyCall.builtins.list(['Foo', 'Bar', 'Foobar'])

Is there any way to convert this list into a ruby array? Or get the content of this list otherwise?

Thanks in advance

[2020-04-17 08:56] caramdache opened #115 "Capturing the given block using Kernel#proc is deprecated"
The following code will generate the warning below:

[code]

[code]

[2020-04-17 09:04] caramdache commented on #115
It seems this has been fixed in 1.3.1, but gem install -v 1.3.1 will not find it.

[2020-04-22 01:44] mrkn opened #116 "Keyword argument handling on Ruby 2.7"
We can remove the last empty Hash in the following case in Ruby 2.7 because we can distinguish arguments of Hash and keyword arguments in Ruby 2.7.

[code]

[2020-04-22 01:46] mrkn commented on #114
You need to put `.` between `list` and `(` like:

[code]

[2020-04-22 01:59] mrkn opened #117 "Lack of the way to delete object's attributes"
In Python, we can delete object's attribute by `del` statement:

[code]

PyCall should support such a feature.  I'd like to support this by adding `PyObjectWrapper#__del__` method.

[2020-04-22 02:19] mrkn opened #118 "Lack of the way to check object identity"
In Python, we can check object identity by `x is y` expression.
PyCall should provide a way to do it.

[code]

[2020-04-22 09:24] wynksaiddestroy commented on #114
Thank you very much for your answer. Unfortunately I have another question. Assume I want to return only words with 3 characters or less:

    words = ['Foo', 'Bar', 'Foobar']
    short_words = PyCall.builtins.filter.('lambda word: len(word) < 4', words)

If I call `PyCall.builtins.list.(short_words)` I will get the following error:

    PyCall::PyError (<class 'TypeError'>: 'str' object is not ca

[2020-05-02 20:49] taylorkrause opened #119 "Uninitialized Constant PyCall::LibPython::Helpers"
Anyone ever seen this before after deploying to production on Heroku? Works fine locally, just not once deployed :/

[2020-05-03 15:19] #119 closed

[2020-05-16 17:21] IwanVosloo opened #121 "(on 1.3.0): Fatal Python error: Py_Initialize: Unable to get the locale encoding"
Hi, we're using pycall 1.3.0, with python 3.5.2 from a venv and ruby 2.6.3p62.

We're getting this error when running
```PYCALL_DEBUG_FIND_LIBPYTHON=1 ruby -rpycall -ePyCall.builtins```

[code]

With pycall  1.2.1 in the same setup we don't have the problem.

[2020-05-25 02:41] mrkn commented on #121
That error has occurred in Python-side, so it seems not pycall.rb's issue.
Please investigate your Python's settings such as environment variables.

[2020-05-25 05:34] IwanVosloo commented on #121
Hi!

On 2020/05/25 04:41, Kenta Murata wrote:

Can you please explain your reasoning? If everything works fine with
pycall 1.2.1, and just upgrading to pycall 1.3.0 causes the problem its
hard for me to understand that the error is outside of what pycall does.

Sure, it might have to do with PYTHONPATH or other variables controlling
python, but I was under the impression its pycall's taks to set t

[2020-05-26 22:45] mrkn commented on #121
I'm sorry, I missed the last line of the description.

I've tried to reproduce this with Python 3.5.9, but I couldn't install Python 3.5.9 in my macOS due to the build error.  Please wait some days for constructing the testing environment.

By the way, how do you construct your environment? I noticed your libpaths contains the string `venv`:

If you didn't use the vanilla environment of Python, pl

[2020-05-27 08:47] IwanVosloo commented on #121
Ah, thanks for looking into it - I'd have no idea where to look!

This is on stock ubuntu 16.04, with its stock python 3.5.2 installed
(called python3 on ubuntu 16.04). We also install stock python3-pip and
python3-venv.

The path /var/local/venv/development you see is the path to a venv,
created (assuming /var/local/venv exists) by running:

  pyvenv /var/local/venv/development

We also install i

[2020-06-13 04:34] msyksphinz-self opened #123 "How to use `np.add.at` functions via PyCall"
Hi, I'm using PyCall and Numpy, trying to call as follows:
[code]
but following errors:
[code]
Is it possible to use `func.at` via PyCall?

[2020-06-26 19:18] ricardovj commented on #79
I'm having the exact same problem with puma!

[2020-07-10 04:06] shamscorner commented on #73
Then how can I import this?
`pyfrom :'sklearn.preprocessing', import: :PolynomialFeatures`

[2020-07-10 04:25] shamscorner opened #124 "How to import class with pyfrom?"
I want to import this,
`pyfrom :'sklearn.preprocessing', import: :PolynomialFeatures`

But it is giving me this error,
`undefined method `module_eval'`

Can anybody help me with this? Am I missing something here?

[2020-07-11 23:59] lesliebinbin commented on #124
probably should be pyfrom 'sklearn.preprocessing', import: 'PolynomialFeatures' as from the example https://github.com/mrkn/pycall.rb/blob/master/examples/plot_forest_importances_faces.rb,
pyfrom 'sklearn.ensemble', import: 'ExtraTreesClassifier'

[2020-07-12 03:51] shamscorner commented on #124
I tried with that solution but for some reason, it was not working. I solved this way though,

`pyimport :'sklearn.preprocessing', as: :preprocessing`

and then

`poly = preprocessing.PolynomialFeatures.new(degree=4)`

Ok, thanks for your reply. I will try to look at why the solution you mentioned was not working. I am closing this thread.

[2020-07-12 03:51] #124 closed

[2020-07-13 13:45] #73 closed

[2020-08-28 17:42] mberrueta opened #126 "Issues with Docker FROM ruby:2.7.1 and PyCall::PythonNotFound"
Hello there,

First, thanks for this great library!

I'm getting issues with a Docker image (locally PyCall works well)

[code]

getting ` PyCall::PythonNotFound` and `uninitialized constant PyCall::LibPython::Helpers`

do you have an example of how to build it properly? or whats the error?

Ty in advance!!

[2020-08-28 18:31] holyketzer commented on #121
Have same error on Mac OS through venv. Not elegant but using system Python solves this

[2020-09-04 02:56] andreaslillebo commented on #79
@ricardovj, the problem seems to be related to multithreading, which as previously mentioned is not yet supported.

For me, setting `max_threads_count = 1` in the puma initializer solves the problem with the server freezing, though this might affect the server's performance when handling concurrent requests.

[2020-09-15 10:47] mknkmyzk opened #128 "Memory leak?"
As stated in https://qiita.com/yagshi/items/e3865fae585c348c5bfc (thank you @yagshi),
I experience memory leak with the following code:
[code]

To cope with this problem, I insert several Py_decrefs in pycall.c.
Tentative patch is posted in Pull request.

[2020-09-23 02:16] mrkn commented on #128
Ruby employs mark-and-sweep GC while Python employs reference counting.

In Python, objects are freed when their reference count become zero.
So all block-local objects are freed when leaving the block.

In contrast, Ruby's GC runs only when it is necessary.  There are two situations GC needs to run in Ruby:
- The heap slot array should be expanded when a new object will be allocated
- `xmalloc` i

[2020-09-23 05:29] mknkmyzk commented on #128
Thank you for your reply.
The case of memory leak is not clear for me.
As you pointed out, the memory leak can be avoided if I put `GC.start` after `put img.shape`.
But the following code also shows a memory leak:
[code]
In another case, the following code shows a memory leak as well:
[code]

My environment is
  Fedora32
  ruby 2.7.1p83
  python 3.8.5

[2020-11-18 09:54] colspan opened #131 "Can't iterate `PrettyDict` of Pandas"
Iterating the result of `Pandas.DataFrame.groupby` fails with `pandas>=1.1.0`.
This failure seems to be caused by [`PrettyDict`](https://github.com/pandas-dev/pandas/blob/master/pandas/io/formats/printing.py#L544-L548) which is the alternative type of `dict` and added on `pandas==1.1.0`.
The log shows that pycall.rb can't regard `PrettyDict` as `dict`.

## Reproduction code
[code]

### `pandas<1.1

[2021-01-25 11:19] dsounded commented on #62
Hello, @mrkn and thank you for the gem

I am trying to make it work on Heroku and had no luck...

Still `PyCall::PythonNotFound: PyCall::PythonNotFound`

This is my fork which should patch `--enable-shared` issue.

https://github.com/dsounded/heroku-buildpack-python/commit/43cf2dec7254605e894a026e60ef214f5d115168

Did anything change before this topic was discussed for the last time ?
It even can'

[2021-01-25 11:20] dsounded commented on #119
Hello @taylorkrause
Are you using this successfully on Heroku ?
Could you please help with https://github.com/mrkn/pycall.rb/issues/62 ?

[2021-01-25 11:29] dsounded commented on #62
Here is the output:

[code]

[2021-01-25 11:41] mrkn commented on #62
The debug log showed that pycall couldn't find libpython.so in all the candidate locations.

Where do you install the python built with `--enable-shared`? You should specify the location of the appropriate python command in `PYTHON` environment variable.

[2021-01-25 11:49] dsounded commented on #62
Yeah. actually wanted to leave a comment with the solution...
For Heroku it works with the fork I provided + you need to specify `LIBPYTHON` as `/app/.heroku/python/bin/python3.9` in my case (I wanted to use 3.9.0) since default `python` and `python3` execs are infrastructures ones.

To find needed executable path you can run `heroku run whereis python` that helped me to find a path for needed ver

[2021-01-26 10:18] dsounded opened #133 "How to use PyCall.exec/eval ?"
`t["New Date"] = pd.to_datetime(t["DATE"]) - np.timedelta64(1,"D")`

I have a code which looks like this.
and it fails with `unsupported operand type(s) for -: 'DatetimeArray' and 'type'`

Instead of converting the types I'd like to eval such examples on `python` side.
e.g.

`t["New Date"] = PyCall.exec('pd.to_datetime(t["DATE"]) - np.timedelta64(1,"D")')`

but I got this `<class 'NameError'>: nam

[2021-01-30 05:21] ferrisoxide commented on #62
I realise this issue is closed, but if it helps anyone I managed to get pycall working Heroku working using this buildpack:

https://github.com/ReforgeHQ/heroku-buildpack-python.git

[2021-01-30 07:05] mrkn commented on #62
Is there anyone who can write the description in README to explain how to use pycall on Heroku?

[2021-02-02 09:03] ferrisoxide commented on #62
@mrkn Took a stab at here. Might be worth someone else running their eyes over the delta, as I was only going by my notes from a project a few months back. Hope this is of some use.

[2021-02-17 09:36] jmarrec commented on #121
I'm having a similar issue on ubuntu 18.04, on a virtualenv.

[code]

[2021-02-17 09:46] mrkn commented on #121
@jmarrec Could you please explain the steps for reproducing the same problem you encountered?

[2021-02-17 09:56] jmarrec commented on #121
@mrkn Yes sure, thanks for your prompt reply.

Install pycall 1.2.1

[code]

Require 'sys', it works:

[code]

Now uninstall pycall 1.2.1, and install 1.3.1 instead:

[code]

And try again:

[code]

----

**To install my python environment, I used pyenv with the following options (I need shared libs for some embedding)**

`PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 3.8.3` (at the time i

[2021-02-17 10:01] jmarrec commented on #121
some environment variables that may be of interest:

[code]

[2021-02-17 10:43] jmarrec commented on #121
I can also reproduce with the same command as the OP:

[code]

[2021-02-17 10:53] jmarrec commented on #121
Ok, if I do that with python 3.9, which wraps stuff in Lib/site.py addpackage method in a try except block, I get the same fs_encoding error as the OP:

[code]

[2021-02-17 10:58] jmarrec commented on #121
In my 3.8.3 version if I modify this: https://github.com/python/cpython/blob/6f8c8320e9eac9bc7a7f653b43506e75916ce8e8/Lib/site.py#L169-L170

by

[code]

Then it loads the sys correctly.

Here is the output:

[code]

[2021-02-17 11:14] jmarrec commented on #121
@mrkn I did a git bisect, each time doing `gem uninstall pycall && bundle exec rake install && PYCALL_DEBUG_FIND_LIBPYTHON=1 ruby -rpycall -ePyCall.builtins` and indicating I would see the failed imports messages or not.

2752e2e85a328bdbf251e859b902deaac4b2c182 is the first bad commit

[2021-02-17 11:18] jmarrec commented on #121
I opened #135 as a result.

[2021-02-18 00:36] mrkn commented on #133
I guess your problem is not how to use `PyCall.exec`.  Your problem is why `np.timedelta64(1, "D")` turns to be a type.

Do you know that `np.timedelta64(1, "D")` is a syntax sugar of `np.timedelta64.__call__(1, "D")`?  In Python, every object that has `__call__` attribute can be called by `obj(...)` form.  And, every type object in Python has `__call__` attribute.  That is the constructor of the

[2021-03-02 04:43] monsha commented on #121
Having similar issue on  a virtualenv, using pandas directly in virtualenv python works, but when I try to import pandas in ruby I get different errors.

Python 3.9.1
pandas-1.2.2
Ruby 2.5.3

With pycall 1.3.1 and 1.3.0:
[code]

With 1.2.1
[code]

[2021-03-10 09:18] mrkn opened #138 "CI: Add windows-latest in conda job"

[2021-03-17 03:01] #138 closed

[2021-03-26 04:20] #78 closed

[2021-05-03 03:57] yamatakau08 opened #143 "gem install --pre pycall *Error* on Windows Ruby installed by Rubyinstaller"
I executed "gem install --pre pycall" on Windows Ruby installed by Rubyinstaller.
I faced the instalation *Error*.

The following is the Ruby version I'm using.
`c:\Temp>ruby --version
ruby 3.0.1p64 (2021-04-05 revision 0fb782ee38) [x64-mingw32]`

When I used Ruby version 2.[67], installation was success.
Yesterday, I've just updated Ruby version 3.0 .

The following is the "gem install" log.
[cod

[2021-05-05 13:32] dsounded commented on #133
Thanks!

[2021-05-05 13:32] #133 closed

[2021-05-21 08:43] Tcheetox commented on #143
Same issue here, did you manage to fix it?

[2021-05-22 17:25] Tcheetox commented on #143
@yamatakau08  did you find a workaround by any chance?

[2021-05-28 08:53] mrkn commented on #143
@yamatakau08 @Tcheetox pycall.rb does not support Windows currently.  Sorry for inconvenience.  Could you please try to use with WSL2?

[2021-05-28 09:00] mrkn opened #144 ""[BUG] object allocation during garbage collection phase" on Windows"
On Windows environments (both mingw and mswin), the bug "object allocation during garbage collection phase" is occurred.  The example case is [here](https://github.com/mrkn/pycall.rb/runs/2692589889?check_suite_focus=true#step:9:183).

I confirmed that this bug has occurred at least in pycall-1.3.1.

I'd like to investigate the cause and resolve this bug.  But, unfortunately, I currently don't hav

[2021-05-28 09:04] mrkn commented on #143
I will release the new version 1.4.0 soon.  This new version resolves the compile errors you mention in the description.  So I guess you can install pycall 1.4.0 in your environment.

But, the bug I filed in https://github.com/mrkn/pycall.rb/issues/144 is still remaining in the new version.

If you can investigate the problem, it is very helpful for me.

[2021-05-29 13:26] yamatakau08 commented on #143
mrkn-san,
Thank you for fixing.
pycall installation is succeeded.

[code]

[2021-05-29 13:26] yamatakau08 commented on #143
I close this issue.

[2021-05-29 13:26] #143 closed

[2021-06-07 16:42] Tshamp7 commented on #119
did you figure out what was wrong? Im having the same error.

[2021-06-07 18:08] Tshamp7 commented on #62
when I attempt to specify LIBPYTHON with the correct path from heroku I get:
[code]
@dsounded do you know how to fix this? thanks!

[2021-06-10 04:11] Tshamp7 commented on #62
I had to clear my build cache on heroku. Then it worked fine.

[2021-06-19 16:56] MuthukkaruppanSubramanian commented on #119
Is there any solution for this in Ruby

[2021-06-19 16:57] MuthukkaruppanSubramanian commented on #119
irb(main):001:0> require 'pycall/import'
=> true
irb(main):002:0> include PyCall::Import
=> Object

irb(main):006:0> pyimport :math
Traceback (most recent call last):
        4: from C:/Ruby25-x64/bin/irb.cmd:19:in `<main>'
        3: from (irb):6
        2: from C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/pycall-1.4.0/lib/pycall/import.rb:18:in `pyimport'
        1: from C:/Ruby25-x64/lib/ruby/gems/2.

[2021-06-19 17:08] MuthukkaruppanSubramanian opened #145 "uninitialized constant PyCall::LibPython::Helpers"
[code]

Environment Variables:

[code]

Also added python location to environment variables.

[2021-06-20 03:15] Tshamp7 commented on #119
You need to use a third party build pack with python shared libraries, and make sure to clear your build cache on heroku after removing the default python build pack.

[2021-06-23 18:33] jankeesvw opened #146 "Using pycall on Dokku (Heroku compatible alternative)"
We are using [pandas.rb](https://github.com/mrkn/pandas.rb) in our development setup and we love it 🐼, I'm now trying to get this working on our production host. We use Dokku, which is a open source alternative to Heroku. It uses the same buildpack system, so I think pycall could just work.

When I run pycall locally I see this:

[code]

Then I tried deploying this code, this is our `requirements.

[2021-06-29 12:43] mrkn commented on #145
You need to specify the path of python executable in `PYTHON` environment variable.

[2021-06-29 14:55] jankeesvw commented on #146
Hi @mrkn, thanks for helping. When I try that I see this:

[code]

Does that make sense to you?

[2021-06-30 10:05] mrkn commented on #146
I guess you didn't define `PYCALL_DEBUG_FIND_LIBPYTHON` environment variable likewise the instruction in README.

Could you please retry the investigation with the environment variable?  I recommend you to copy-and-paste the command line in the instruction as is.

[2021-07-01 11:16] jankeesvw commented on #146
That gives me this output:

[code]

[2021-07-01 23:57] mrkn commented on #146
Could you check the output of the following commands?

   which python3
   ldd `which python3`

[2021-07-02 12:05] jankeesvw commented on #146
This is the output:

[code]

[2021-07-12 02:16] mrkn commented on #146
@jankeesvw I'm sorry for the response to be late.

Could you check the existence of `libpython.so.3.8` in `/app/.heroku/python` and directories under that?
I suspect that the python in `/app/.heroku/python` is not built with `--enable-shared`.

You need to specify where is python executable that is built with `--enable-shared` in the `PYTHON` environment variable, or add the path to such the pytho

[2021-07-12 03:01] mrkn commented on #144
This is resolved in version 1.4.1.

[2021-07-12 03:01] #144 closed

[2021-07-12 03:03] mrkn commented on #143
@yamatakau08 I've resolved the bug on Windows.  Please try the new version 1.4.1.

[2021-07-12 13:09] MuthukkaruppanSubramanian commented on #145
Hi,

Thanks for response. I had added the following value to PYTHON env var.

"C:\Users\_user_name\AppData\Local\Programs\Python\Python38-32\pythonw.exe"

but still I could see issues as below

irb(main):002:0> require 'pycall/import'
=> true
irb(main):003:0> include PyCall::Import
=> Object
irb(main):004:0> pyimport :os
DEBUG(find_libpython) find_libpython("C:\\Users\\_user_name\\AppData\\Local\\

[2021-07-14 14:12] jankeesvw commented on #146
Thanks for the responses, we got it working by using these settings:

.buildpacks:
[code]

runtime.txt
[code]

[2021-07-14 14:12] #146 closed

[2021-07-16 10:16] ljoglar opened #149 "PyCall::LibPythonFunctionNotFound (Unable to find the required symbol in libpython: _Py_NoneStruct)"
Hi!
I really would love to be able to use your library for a project, but I can't seem to make it work, not even with the simplest example... Any help on what I'm missing would be great.

Thanks in advance!

Luis.
[code]

[2021-07-27 11:31] buncis commented on #149
ah I have same error when trying to deploy to heroku

[2021-07-27 12:18] buncis commented on #146
@jankeesvw  sorry for asking in closed issue but I have same problem
can I know heroku stack that you use?

I'm using heroku 20 with same config with yours but I still can't make it work

[2021-07-27 13:15] jankeesvw commented on #146
@buncis I'm using Dokku, which is an alternative to Heroku (open source).

[2021-07-28 14:48] buncis commented on #149
sorry if its not answering the original question

but since its have save error message

I manage to fix my problem in heroku
by using heroku-18 stack

this buildpacks https://github.com/ReforgeHQ/heroku-buildpack-python
with python 3.8.1

[2021-07-28 15:57] buncis commented on #62
@dsounded  @Tshamp7 hello I have same problem and still can't make it work even with dsounded branch

actually how to specify the `LIBPYTHON` that you guys talk about ?

[2021-07-28 23:17] Zaxser commented on #145
I seem to be having the same problem after installing aeneas with their all-in-one package. I suspect, at least in my case, that I have the opposite problem, that I have too many versions of python installed and pycall is confused.

![image](https://user-images.githubusercontent.com/85962476/127408216-e78f4262-71bf-462a-8842-28f4f68a1ea6.png)

[2021-07-29 01:23] Zaxser commented on #145
Hm. Alright. Tried a few things, none of them worked. Dug around in pycall's code a bit. It looks like it's asking for ENV["PYTHON"] but not finding it. Actually, I had no idea that this is variable was here.

Anyway, after I added a PYTHON path to the variable list (make sure it's not SYSTEM variables, at the bottom of the environmental variable screen, but the ENVIRONMENTAL variables at the top)

[2021-07-29 01:38] Zaxser commented on #145
Hmm. It seems to work with one python module (genanki) and not another (aeneas), I'm getting another const missing error, The solution is probably to add more variables.

[code]

[2021-07-29 01:58] Zaxser commented on #145
Oh god. It's looking for a variable called PYTHONHOME in my environmental variables. It's not there, and then... it looks like it's deciding to use_conda, except I don't have anaconda. Hmm.

[2021-07-29 03:55] emilebosch opened #150 "_Py_NoneStruct (PyCall::LibPythonFunctionNotFound)"
Keep getting _Py_NoneStruct (PyCall::LibPythonFunctionNotFound) for the simplest example, any ideas?

---

## Script

[code]

Running ruby:
[code]

## Lockfile
[code]

## Version info
[code]

## Installed via

[code]

## PYCALL_DEBUG_FIND_LIBPYTHON

[code]

[2021-07-29 04:09] emilebosch commented on #150
Nevermind: Make sure you actually set the global py env the same as the one you installed the lib for:

[code]

[2021-07-29 04:09] #150 closed

[2021-07-30 16:10] buncis commented on #149
@ljoglar  make sure your python have --enable-shared
to check it first run this on your bash/terminal
`python3 -msysconfig | grep enable-shared`

if there is no result that show --enable-shared on your python

you need to recompile ur python with --enable-shared

[2021-07-30 16:11] buncis opened #151 "how to deploy to heroku?"
this is not an issue per se yes it is a issue but I manage to solve it
here is the way

[2021-07-30 16:19] buncis commented on #151
apparently this is because default python that heroku use is not builded with `--enable-shared`

thus why our build is failed because `pycall.rb` need `python` that use `enable-shared`

to fix this problem here is the step

first you need to set a buildpack
since using pycall.rb our apps is consist of multiple stack (Python, Ruby, Javascript)
to set the buildpack what you need to do are

1. clean

[2021-07-30 16:55] buncis commented on #151
@mrkn thanks for this gem with this gem I could get the best of two worlds python pandas and numpy + ruby on rails`

could we add this into wiki or `readme.md`?

but I think putting this on `readme` would be too much

and also I think we need a pointer/link from all `pycall.rb` family like `numpy.rb` and `pandas.rb`

[2021-07-30 22:30] Zaxser commented on #145
Eventually, I just gave up and set up an environment on WSL, like I probably should have done in the first place.

[2021-08-02 01:41] mkrumholz commented on #146
@buncis did you get this figured out? I am having the same issue currently. I am not seeing how to configure python to enable shared libraries in my production environment (it runs perfectly on local)

[2021-08-02 04:35] buncis commented on #146
you could check my latest issue in this repo titled how to deploy to heroku

 I will mention the issue later

On Mon, Aug 2, 2021, 8:41 AM Molly Krumholz ***@***.***>
wrote:

[2021-08-02 05:13] mkrumholz commented on #146
@buncis THANK YOU SO MUCH! You fully just saved my project that I was despairing over. Completely made my day!! 🤩 🙏🏻 🎉

[2021-08-21 22:43] Moritz030 opened #152 "import_module from other folder than lib?"
hello,
is it possible to import a python module from somewhere else than the python lib folder (for example /usr/lib/python3.8/)

[2021-09-09 01:43] YaarPatandarAA commented on #95
Having same problem. In my instance I am using a method in an external python module and this is in a Rails controller. After one call is made, I cannot make another call. The second call will hang.

[code]

[2021-10-10 20:26] bcdavasconcelos commented on #149
@buncis, could you detail how you managed to recompile your py interpreter with `--enable-shared`? I spent many hours trying to do so in my M1 mac but failed miserably.

[2021-10-11 00:17] buncis commented on #149
@bcdavasconcelos I explain my solution on #151

[2021-11-02 06:40] sebyx07 opened #153 "Question about loading a subclass"
Hey, I try to use by.XPATH

here is the code:

[code]

[2021-11-24 03:33] amcox opened #154 "exceptions not raised from within without_gvl block"
When an exception, whether from a python or ruby function, is encountered within a without_gvl block, PyCall discards the exception and returns nil instead of raising the exception.

For example:

[code]

I would expect the exception to be raised when exiting the block.

[2021-12-09 21:09] andreimerfu commented on #128
@mknkmyzk Did you figured out how to solve this issue? 🙇🏻

[2021-12-13 01:01] mknkmyzk commented on #128
Please check the patch in issue#129 or try my forked version https://github.com/mknkmyzk/pycall.rb

[2022-02-10 00:34] mrkn commented on #151
@buncis I'm sorry for my response to being late.  PyCall's README already has [the section that describes tips for deploying on Heroku](https://github.com/mrkn/pycall.rb#deploying-on-heroku).  This section was added by the pull-request https://github.com/mrkn/pycall.rb/pull/134 on March 9, 2021.  Did you check this part in README?

[2022-02-10 00:46] mrkn commented on #154
@amcox Thank you for reporting this.  Good catch.  I'll fix it soon.

[2022-02-10 00:52] mrkn commented on #153
@sebyx07 As you can see [this document](https://www.selenium.dev/selenium/docs/api/py/webdriver/selenium.webdriver.common.by.html#selenium.webdriver.common.by.By), `XPATH` attribute is defined in `By` class instead of `by` module.

[code]

[2022-02-10 00:52] #153 closed

[2022-02-10 00:55] mrkn commented on #152
@Moritz030 Yes, you can load all the modules that can be found in directories that are contained by `sys.path`.  This is the same manner as Python.

[2022-02-10 01:37] #154 closed

[2022-02-10 01:37] #149 closed

[2022-02-10 03:06] buncis commented on #151
@mrkn I have read that readme before, problem is I can't make my app work with that README

I think we could close this issue right now and could you enable [discussion](https://docs.github.com/en/discussions) or [wiki](https://docs.github.com/en/communities/documenting-your-project-with-wikis) in this github repo?

so I could post my issue and guide to there?

[2022-02-10 03:15] mrkn commented on #151
@buncis I don't want to open the wiki because the wiki is too difficult to keep managed.  Opening the discussion can be acceptable, but I believe README is appropriate for mentioning the way to resolve this problem.

I want to know what information you needed is absent in the current README.  Could you please tell me about it?

[2022-02-10 03:18] buncis commented on #151
all the buildpacks mentioned in the readme is too old for newer
applications or just doesn't works because its not updated

the only solution is to make ur own buildpacks or recompile the heroku
default buildpack with --enable-shared options

On Thu, Feb 10, 2022, 10:15 AM Kenta Murata ***@***.***>
wrote:

[2022-02-10 03:32] mrkn commented on #151
@buncis Thanks. I understand. It should be described in README and I want to do so.  Could you please make a pull request to update the Heroku section in README?

[2022-02-10 03:45] buncis commented on #151
I wish, but I can't do it right now, I'll do it later

[2022-02-10 04:06] mrkn commented on #151
@buncis No problem.  Thank you very much!

[2022-04-08 05:58] maks112v commented on #95
I am also getting an issue with pycall specifically with the ruby-spacy package. I am able to import it and run nlp.read inside the console without issues but during a controller call it hangs and never resolves no issues are displayed at any point

Current Code
[code]

ruby 3.1.1p18 (2022-02-18 revision 53f5fc4236) [arm64-darwin21]
Rails 7.0.2.3
Python 3.10.1 with shared enabled

[2022-04-08 06:01] maks112v opened #157 "pycall freezes and never resolves during a controller function"
I am getting an issue with pycall specifically in the ruby-spacy package. I am able to import it and run `nlp.read` inside the console without issues but while running the same code on controller it hangs and never resolves without no issues printing

Current Code
[code]

ruby 3.1.1p18 (2022-02-18 revision 53f5fc4236) [arm64-darwin21]
Rails 7.0.2.3
Python 3.10.1 with shared enabled

[2022-07-29 03:44] c-dilks opened #158 "DeprecationWarning: The distutils.sysconfig module is deprecated, use sysconfig instead"
Testing with Python 3.10.4, I get the following deprecation warnings when importing a python library with `PyCall.import_module`:

[code]

Changing `distutils.sysconfig` to `sysconfig` at least silences the warning (see linked PR)

[2022-08-02 23:55] #157 closed

[2022-11-23 14:16] cboulanger opened #160 "Catching python STDOUT"
Hi, thank you for this incredibly useful gem.

I have a question/feature request: I would like to "mute" the  STDOUT output of python and handle it with ruby code (e.g., write it to a log file). Redirecting `$stdout` on the ruby side does not seem to work (seems logical since python has writes directly to STDOUT). In case this cannot already be handled py PyCall, would this be a use case that you